* {
    box-sizing: border-box;
    font-family: "Raleway", Arial, sans-serif;
}

.mainwidth {
	max-width: 800px;
    position: relative;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}

header {
	margin: 0 auto;
	background-color: black;
	height: 40px;
	padding-bottom: 10px;
}

header h1 {
	font-size: 12px;
	font-weight: 400;
	float: left;
	color: white;
	position: absolute;
	top: 6px;
 }

span {
	color: turquoise;
	font-weight: 700;
}

#menu {
	color: white;
	font-size: 12px;
	font-weight: 700;
	list-style: none;
	position: absolute;
	right: 50px;
	top: 2px;
}

#menu>li {
  	display: inline;
  	margin-left: 30px;
}

#armchair {
	background: -webkit-linear-gradient(white, #CFCFCF);
	margin: 0 auto;
	height: 350px;
}

.less-than-sign {
	color: turquoise;
	font-size: 50px;
	float: left;
	padding-top: 70px;
}

#armchair img {
	margin-left: -80px;
	float: left;
}